.country-container {
    display: flex;
}
.country-container-info, .img-container {
    flex: 1;
}
.country-container-info {
    padding-left: 6rem;
    height: fit-content;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.country-all-info {
    padding: 2rem 0;
    color: var(--Very-Dark-Blue-Text);
}
.country-name-info {
    display: flex;
    justify-content: space-between;
}
.country-all-info .country-name h3 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.country-name p {
    font-size: .90rem;
}
.country-name p span {
    font-weight: bold;
    font-size: 1.1rem;
}
.country-name p:not(:last-child) {
    margin-bottom: .30rem;
}

.border-countries-container {
    display: flex;
    color: var(--Very-Dark-Blue-Text);
    padding: 1rem 0;
}
.border-countries-container h4 {
    font-weight: bold;
}
.borders {
    display: flex;
    flex-wrap: wrap;
}
.border-countries-container .borders a{
    margin: 5px;
}

.link-button {
    text-decoration: none;
    cursor: pointer;
    color: var(--Very-Dark-Blue-Text);
    background-color: var(--White);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    padding: .30rem 1rem;
    font-size: .80rem;
    transition: .3s ease;
}
.link-button:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}

.inputs-container .link-button .fa-arrow-left{
    margin-right: .50rem;
    color: var(--Very-Dark-Blue-Text);
}