* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    --Very-Dark-Blue-Text: hsl(200, 15%, 8%);
    --Very-Light-Gray: hsl(0, 0%, 98%);      
    --White: hsl(0, 0%, 100%);

    font-family: 'Nunito Sans', sans-serif;
    background: var(--Very-Light-Gray);
}
body.dark-mode {
    --Very-Light-Gray: hsl(207, 26%, 17%);
    --Very-Dark-Blue-Text: hsl(0, 0%, 100%);
    --White: hsl(209, 23%, 22%); 
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: var(--White);
    color: var(--Very-Dark-Blue-Text);
    border-bottom: 2px solid rgba(0, 0, 0, 0.075);
}
.dark-mode-container {
    cursor: pointer;
}
.dark-moon {
    display: none;
}

/*INPUT SECTION*/
main {
    padding: 0rem 3rem;
}
.inputs-container {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0rem;
}
.search-box {
    position: relative;
    color: var(--Very-Dark-Blue-Text);
}
.inputs-container .fa-search {
    position: absolute;
    top: 32%;
    left: 4%;
    color: var(--Very-Dark-Blue-Text);
    cursor: pointer;
}

#input, #input-regions {
    padding: 15px;
    background: var(--White);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    color: var(--Very-Dark-Blue-Text);
    cursor: pointer;
}
#input {
    padding-left: 3.5rem;
    width: 445px;
}
#input-regions {
    width: 190px;
}

/*CARDS SECTION*/
.country-cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 265px;
    height: 350px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
    background: var(--White);
    color: var(--Very-Dark-Blue-Text);
    text-decoration: none;
    margin-bottom: 4rem;
    cursor: pointer;
    transition: 1s ease;
}
.card:hover {
    transform: scale(1.1);
}
.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.country-info {
    padding: .80rem 1rem;
}
.country-info h3 {
    margin-bottom: .80rem;
    color: var(--Very-Dark-Blue-Text);
}
.country-info p:not(:last-child) {
    margin-bottom: .20rem;
    color: var(--Very-Dark-Blue-Text);
}